[user]
	name = carlz32
	email = zljmms32@gmail.com
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential]
	useHttpPath = true
[core]
	editor = code --wait
[rerere]
	enabled = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[fetch]
	writeCommitGraph = true
[init]
	defaultBranch = main
[push]
    recurseSubmodules = on-demand
