[user]
	name = Carl-ZLJ
	email = zljmms32@gmail.com
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential]
	useHttpPath = true
[core]
	editor = code --wait
[rerere]
	enabled = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[maintenance]
	repo = /home/kaelz/learn/draw-guess
[fetch]
	writeCommitGraph = true
