* {
    font-family: "Hack Nerd Font";
	font-size: 14px;
    border-radius: 0;
}

window#waybar {
	background: #225877;
    color: #ffffff;
}

.modules-left {
    background-color: #323232;
}

.modules-right {
    background-color: #323232;
}

tooltip {
    background: rgba(43, 48, 59, 0.85);
    border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
    color: white;
    font-size: 12px;
}

#workspaces {
    font-weight: bold;
}

#workspaces button {
	padding: 0px 8px 0px 8px; 
 	min-width: 1px;
	color: #888888;
}

#workspaces button.active { 
	padding: 0px 8px 0px 8px; 
	background-color: #225877;
	color: #ffffff;
}

#window {
    background-color: #225877;
    color: #ffffff;
    padding: 0px 8px 0px 8px;
}

window#waybar.empty #window {
	background-color: transparent;
	color: transparent;
}

window#waybar.empty {
	background-color: #323232;
}

#network,
#backlight,
#pulseaudio,
#memory,
#cpu,
#clock,
#custom-vpn,
#custom-power,
#tray,
#battery {
    padding: 0px 5px 0px 5px;
    margin: 0px 3px 0px 3px;
}

#tray,
#custom-power {
    background-color: #285577;
    margin: 0px;
    padding: 0px 8px 0px 8px;
}

#battery.critical {
    color: #ff5555;
}

#network.disconnected {
    color: #ff5555;
}
